@font-face {
  font-family: Montserrat-500;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-400;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-600;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-700;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Oswald-500;
  src: url("../fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: Oswald-700;
  src: url("../fonts/Oswald-Bold.ttf");
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin font($font-size, $font-family, $line-height) {
  font: normal $font-size $font-family;
  line-height: $line-height;
}
@mixin top-width($top, $max-width) {
  top: $top;
  max-width: $max-width;
}
@mixin width-maxwidth($width, $max-width) {
  width: $width;
  max-width: $max-width;
}

body {
  width: 100%;
  min-height: 100vh;
}
a { text-decoration: none; }
header {
  position: fixed;
  top: 0;
  @include size(100%, 80px);
  background-color: #fff;
  z-index: 1;
}
.header-backgr {
  height: 120px;
}
.header-nav {
  margin-left: 4.5%;
  display: flex;
  justify-content: space-between;
  @include size(92%, 100%);
}
.header-nav-bar {
  margin: 51px 4% 0 5.7%;
  display: flex;
  justify-content: space-between;
  @include size(72.4%, 27px);
}
.selected-lang,
.header-nav a {
  @include font(18px, "Montserrat-500", 22px);
  color: #060606;
  border-bottom: 4px solid #fff;
  cursor: pointer;
}
.header-nav-lang {
  position: relative;
  margin-top: 51px;
  margin-right: 1.4%;
}
.header-nav-lang ul {
  position: absolute;
  top: 13px;
  right: -25px;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 1px 10px rgba(0,0,0,.2);
}
.header-nav-lang ul li {
  padding: 10px 10px 13px;
  list-style: none;
}
.header-nav a:hover {
  font: normal 18px "Montserrat-600";
  border-bottom: 3px solid #FFA800;
}
.header-nav-lang:hover ul { display: block; }
.lang-for-mob {
  margin: 105px auto 72px;
  display: none;
  justify-content: space-around;
  @include width-maxwidth(100%, 55%);
}
.lang-for-mob a {
  @include font(24px, "Montserrat-500", 29px);
  color: #000;
}
.btn-burger-close {
  margin-top: 36px;
  margin-right: 17px;
  display: none;
  max-width: 25px;
  height: 25px;
}
.btn-active { display: block; }
.btn-hide { display: none; }
.btn-burger,
.btn-close {
  height: 20px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  visibility: visible;
}
.open-menu-logo { height: 120px; }
.open-header-menu {
  height: 100vh;
  background-color: #fff;
  background-image: none !important;
}
.header-container {
  height: auto !important;
  background-color: #fff !important;
  background-image: none !important;
}
.under-header {
  margin: 0 auto 145px;
  padding-top: 50px;
  max-height: 726px;
  text-align: center;
}
.header-image-play,
.video-container-img-play {
  position: sticky;
  margin: -31% auto 32.4%;
  @include width-maxwidth(100%, 9%);
}
.play-hide { display: none; }
.video,
.sapnu-banka-video { display: none; }
.facebook-video,
.sapnu-banka-fb-video {
  margin: 0 auto;
  @include size(100%, 100vh);
}

/*header*/
@media screen and (max-width: 1300px) {
  .under-header {
    margin: 0 auto 150px;
    padding-top: 72px;
   }
   .facebook-video { height: 84vh !important; }
}

@media screen and (max-width: 1150px) {
  .header-backgr { background-repeat: round; }
  .logo {
    margin-left: 5%;
    @include width-maxwidth(100%, 83%);
  }
  .header-nav-logo {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
  }
  .header-nav { display: block; }
  .btn-burger-close { display: block; }
  .header-nav-bar {
    margin: 0 auto;
    flex-flow: column;
    display: none;
    height: auto;
    align-items: center;
  }
  .header-nav-bar a {
    margin-bottom: 71px;
    margin-left: -9px;
    width: fit-content;
    @include font(24px, "Montserrat-500", 29px);
    color: #000;
   }
   .header-nav a:hover { font: normal 24px "Montserrat-600"; }
   .header-nav-lang { display: none; }
   .header-image-play {
     margin: -34.3% auto 32.4%;
     max-width: 16%;
   }
}
@media screen and (max-width: 850px) {
  .facebook-video { height: 80vh !important; }
}
@media screen and (max-width: 769px) {
  .header-backgr { height: 95px; }
  .facebook-video { height: 78vh !important; }
  .under-header { margin: 0 auto 289px; }
}
@media screen and (max-width: 700px) {
  header { height: 40px; }
  .header-backgr { height: 60px; }
  .header-nav { width: 96%; }
  .header-nav-logo { max-width: 100%; }
  .logo {
    margin-left: 3%;
    max-width: 50%;
  }
  .btn-burger-close { margin-top: 16px; }
  .under-header {
    margin: 0 auto 126px;
    padding-top: 49px;
  }
  .facebook-video { height: 69vh !important; }
}
@media screen and (max-width: 650px) {
  .facebook-video { height: 64vh !important; }
}
@media screen and (max-width: 600px) {
  .facebook-video { height: 59vh !important; }
}
@media screen and (max-width: 550px) {
  .facebook-video { height: 54vh !important; }
  .header-image-play {
    margin: -37% auto 32.4%;
    max-width: 21%;
  }
}
@media screen and (max-width: 500px) {
  .header-nav a:hover {
    @include font(18px, "Montserrat-600", 22px);
    border-bottom: 3px solid #FFA800;
  }
  .header-nav { padding-bottom: 29px; }
  .lang-for-mob {
    margin: 40px 29% 37px auto;
    justify-content: space-between;
    max-width: 47%;
  }
  .header-nav-bar { margin: 0 15% 0 auto; }
  .lang-for-mob a,
  .header-nav-bar a { @include font(18px, "Montserrat-500", 22px); }
  .header-nav-bar a { margin-bottom: 38px; }
  .btn-burger-close { margin-right: 18px; }
  .facebook-video { height: 49vh !important; }
}
@media screen and (max-width: 450px) {
  .facebook-video { height: 43vh !important; }
}
@media screen and (max-width: 400px) {
  .facebook-video { height: 38vh !important; }
}
@media screen and (max-width: 350px) {
  .facebook-video { height: 33vh !important; }
}
main {
  margin-top: 205px;
  text-align: center;
}
.main-description {
  margin: 0 auto 153px;
  @include width-maxwidth(100%, 654px);
  @include font(18px, "Montserrat-400", 22px);
}
.main-gallery {
  margin: 0 auto 150px;
  @include width-maxwidth(100%, 1366px);
}
.photo-gallery {
  display: flex;
  margin-top: -54px;
  min-height: 229px;
}
.photo-gallery-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.photo-gallery-container img {
  max-width: 100%;
  height: auto;
}
.photo-gallery-container-first { max-width: 24%; }
.photo-gallery-container-second {
  padding-top: 19px;
  max-width: 24.4%;
}
.photo-gallery-container-third {
  padding-top: 19px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 21.8%
}
.photo-gallery-container-four { max-width: 29.7%; }
.main-more-information {
  margin: 0 auto 165px;
  display: flex;
  justify-content: space-between;
  @include width-maxwidth(100%, 925px);
}
.more-information-container-first {
  margin-right: 135px;
  @include width-maxwidth(100%, 394px);
}
.more-information-container-second { @include width-maxwidth(100%, 500px); }
.information-title {
  margin-bottom: 57px;
  @include font(24px, "Oswald-500", 36px);
  color: #2f4858;
  text-transform: uppercase;
}
.container-button {
  padding: 14px 58px;
  @include size(233px, 50px);
  @include font(18px, "Montserrat-500", 22px);
  color: #fff;
  background-color: #ffa800;
  border-radius: 99px;
}
.contact-container {
  margin: 0 auto 150px;
  @include width-maxwidth(100%, 612px);
}
.contact-form-title {
  margin: 0 auto 57px;
  @include font(30px, "Oswald-500", 44px);
  color: #2f4858;
  text-align: center;
  text-transform: uppercase;
}
.contact-form { width: 100%; }
.contact-form-name-email {
  display: flex;
  justify-content: space-between;
}
.contact-form-name-email input { width: 296px; }
.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 13px 14px 10px 12px;
  height: 43px;
  @include font(18px, "Montserrat-400", 22px);
  color: #2f4858;
  background: rgba(196, 196, 196, 0.4);
  border: none;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
}
.contact-form textarea { height: 232px; }
.contact-form-tel,
.contact-form-ename,
.contact-form-textarea { width: 100%; }
::placeholder { color: #2f4858; }
::-ms-input-placeholder { color: #2f4858; }
::-ms-input-placeholder { color: #2f4858; }
.contact-form-required {
  margin-bottom: 24px;
  @include size(100%, 25px);
  @include font(14px, "Montserrat-400", 17px);
  color: #2f4858;
  text-align: left;
}
.contact-form-consent-terms label { padding-left: 40px; }

/* for checkbox */
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 40px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	left: 0;
  @include size(20px, 20px);
  background-color: #e7e7e7;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
  @include size(20px, 20px);
}
.checkbox:checked + label:before {
  content: '✓';
  text-align: center;
}

.contact-form-consent-terms { display: flex; }
input[type="checkbox"] {
  margin-right: 24px;
  @include size(16px, 16px);
  border-radius: 3px;
}
.contact-form-checkbox-text {
  margin-bottom: 50px;
  @include size(572px, 39px);
}
.contact-form-submit-button {
  margin: auto;
  @include size(182px, 62px);
  @include font(24px, "Montserrat-500", 29px);
  color: #fff;
  align-items: center;
  background-color: #ffa800;
  border: #cd7c20;
  border-radius: 99px;
  outline: none;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.container-sponsors-title {
  margin: 0 auto 69px;
  padding-top: 100px;
  @include size(394px, 29px);
  @include font(24px, "Oswald-500", 36px);
  color: #2f4858;
  text-align: center;
  text-transform: uppercase;
}
.sponsors-container {
  margin: 0 auto;
  padding-bottom: 12%;
  display: flex;
  justify-content: space-around;
  width: 82%;
  align-items: center;
}
.sponsors-container img { @include size(100%, auto); }

/*main-ideja*/
.page-title {
  margin: 85px auto 59px;
  @include font(48px, "Oswald-500", 71px);
  color: #2f4858;
  text-transform: uppercase;
}
.page-description {
  margin: 0 auto 97px;
  @include width-maxwidth(100%, 606px);
  @include font(18px, "Montserrat-400", 22px);
  color: #2f4858;
}
.ideja-gallery-top-border { top: 55px; }
.ideja-gallery-bottom-border { margin-top: -3.8%; }
.ideja-gallery-content {
  position: relative;
  margin-top: -52%;
}
.ideja-gallery {
  margin: 0 auto 146px;
  @include width-maxwidth(100%, 1366px);
}
.ideja-photo-gallery {
  height: 100%;
  max-height: 702px;
}
.ideja-gallery-text {
  position: relative;
  margin: 0 auto;
  top: -196px;
  @include width-maxwidth(100%, 818px);
  @include font(24px, "Oswald-500", 36px);
  color: #fff;
}
.ideja-about {
  margin: 0 auto;
  @include width-maxwidth(100%, 602px);
  text-align: left;
  color: #2f4858;
}
.ideja-about-name {
  margin-bottom: 10px;
  @include font(24px, "Oswald-500", 36px);
}
.ideja-about-job {
  margin-bottom: 33px;
  margin-left: -2px;
  @include font(18px, "Montserrat-400", 22px);
}
.ideja-about-description {
  margin-bottom: 30px;
  font: italic 24px "Montserrat-400";
  line-height: 29px;
}
.ideja-about-arrow {
  margin-bottom: 176px;
  display: flex;
  justify-content: space-between;
  @include size(74px, 34px);
}
.ideja-about-arrow a {
  background-size: cover;
  background-repeat: round;
  @include size(17px, 27px);
}
.ideja-about-arrow a:hover { background-image: url(../img/arrow-hover.svg) !important; }
.ideja-left-arrow:hover { transform: rotate(-180deg); }
.ideja-right-arrow:hover { transform: rotate(0deg) !important; }

/*main*/
@media screen and (max-width: 1050px) {
  .information-title {
    margin-bottom: 90px;
    @include font(18px, "Oswald-500", 27px);
  }
  .more-information-container-first { margin-right: -18px; }
  .information-title-second {
    width: 178px;
    margin: 0 auto 65px;
  }
}
@media screen and (max-width: 768px) {
  .main-description {
    margin: 0 auto 145px;
    max-width: 608px;
  }
  .gallery-top-border {
    margin-top: -2px;
    background: round;
  }
  .gallery-bottom-border {
    margin-top: -38px !important;
    background: round;
  }
  .photo-gallery-container-first { padding-top: 6px; }
  .photo-gallery-container-third { padding-top: 21px; }
  .photo-gallery-container-four { padding-top: 9px; }
  .main-gallery { margin: 0 auto 139px; }
  .main-more-information { margin: 0 auto 159px; }
  .contact-form-title { margin: 0 auto 53px; }
  .contact-form input,
  .contact-form textarea { margin-bottom: 12px; }
  .contact-form-required { margin-bottom: 3px; }
  input[type="checkbox"] { margin-right: 19px; }
  .contact-form-consent-terms { margin-bottom: 47px; }
  .sponsor-backgr { background-repeat: round; }
  .container-sponsors-title {
    margin: 0 auto 31px;
    padding-top: 56px;
  }
  .sponsors-container { width: 86%; }
}
@media screen and (max-width: 750px) {
  .gallery-top-border { top: 5px; }
  .gallery-bottom-border { top: -8px; }
}

@media screen and (max-width: 700px) {
  .main-description {
    margin: 0 auto 107px;
    max-width: 280px;
    @include font(12px, "Montserrat-400", 15px);
  }
  .main-gallery { margin: 0 auto 145px; }
  .photo-gallery {
    margin-top: -77px;
    flex-flow: wrap-reverse;
  }
  .photo-gallery-container-first,
  .photo-gallery-container-second {
    padding-top: 0;
    max-width: 50%;
  }
  .photo-gallery-container-third {
    padding-top: 5.3%;
    max-width: 42.5%;
   }
   .photo-gallery-container img {
     width: 100%;
   }
  .photo-gallery-container-four {
    padding-top: 3%;
    max-width: 57.5%;
  }
  .gallery-top-border {
    top: 0;
    background: right;
  }
  .gallery-bottom-border {
    top: -16px;
    background: left;
  }
  .main-more-information {
    margin: 0 auto 136px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .more-information-container-first { margin-right: 0; }
  .information-title { margin-bottom: 44px; }
  .container-button,
  .information-title-first { margin-left: 7px; }
  .information-title-second {
    margin-top: 95px;
    width: 260px;
  }
  .contact-form-title {
    margin: 0 auto 28px;
    @include font(24px, "Oswald-500", 36px);
  }
  .contact-form {
    margin: 0 auto;
    width: 88%;
  }
  .contact-form-name-email {
    margin-bottom: -4px;
    display: block;
  }
  .contact-form input { @include size(100%, 35px); }
  .contact-form textarea {
    margin-bottom: 5px;
    height: 150px;
  }
  .contact-form textarea,
  .contact-form input {
    padding: 8px 14px 8px 12px;
    @include font(14px, "Montserrat-400", 17px);
  }
  .contact-form-required { @include font(12px, "Montserrat-400", 15px); }
  .contact-form-checkbox-text { height: auto; }
  input[type="checkbox"] {
    margin-right: 23px;
    @include size(35px, 16px);
  }
  .submit-button {
    margin: auto;
    width: 50%;
  }
  .contact-form-submit-button {
    @include size(100%, 49px);
    @include font(18px, "Montserrat-500", 22px);
  }
  .contact-form-consent-terms { margin-bottom: 50px; }
  .contact-container { margin: 0 auto 118px; }
  .container-sponsors-title {
    margin: 0 auto 63px;
    padding-top: 86px;
    width: 100%;
  }
  .sponsor-backgr {
    min-height: 450px !important;
    background-repeat: round !important;
  }
  .sponsors-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88%;
  }
  .first-logo { max-width: 35% !important; }
  .second-logo {
    margin: 6% 0 0;
    max-width: 36% !important;
  }
  .third-logo {
    margin: 8% 11% 0 0;
    max-width: 9% !important;
  }
}
@media screen and (max-width: 600px) {
  .gallery-top-border { top: -5px; }
}
@media screen and (max-width: 450px) {
  .gallery-top-border {
    top: -39px;
    height: 24px !important;
  }
  .first-logo { max-width: 47% !important; }
  .second-logo {
    margin: 6% 0 0 1%;
    max-width: 45% !important;
  }
  .third-logo {
    margin: 10% 15% 0 0;
    max-width: 17% !important;
  }
}
@media screen and (max-width: 350px) {
    .gallery-top-border { top: -49px; }
}
@media screen and (max-width: 320px) {
  .main-description { margin: 0 auto 126px; }
  .photo-gallery { margin-top: -76px; }
  .photo-gallery-container-third { padding-top: 6.4%; }
  .photo-gallery-container-four { padding-top: 13px; }
  .gallery-top-border {
    top: -39px;
    height: 24px !important;
  }
  .gallery-bottom-border {
    top: 29px;
    height: 24px !important;
  }
}
/*ideja media*/
@media screen and (max-width: 1320px) {
  .ideja-gallery-bottom-border {
    margin-top: 0;
    top: -80px;
  }
}
@media screen and (max-width: 1250px) {
  .ideja-gallery-bottom-border {
    margin-top: 0;
    top: -117px;
  }
}
@media screen and (max-width: 1170px) {
  .ideja-gallery-bottom-border {
    margin-top: 0;
    top: -158px;
  }
}

@media screen and (max-width: 900px) {
  .page-title { margin: 47px auto 49px; }
  .ideja-gallery-top-border {
    top: 43px;
    background-repeat: round;
  }
  .ideja-photo-gallery { overflow: hidden; }
  .ideja-gallery-img { margin-left: -13%; }
  .ideja-gallery-img img { width: 111% !important; }
  .ideja-gallery-text { @include top-width(-205px, 595px); }
  .ideja-gallery-bottom-border { background-repeat: round; }
  .ideja-gallery { margin: 0 auto 139px; }
  .ideja-about-arrow {
    margin-bottom: 186px;
    width: 96px;
  }
}
@media screen and (max-width: 800px) {
  .ideja-gallery-bottom-border { top: -191px; }
  .ideja-about { margin-top: -52px; }
  .ideja-gallery { margin: 0 auto; }
}
@media screen and (max-width: 650px) {
  .page-title {
    margin: 14px auto 28px;
    @include font(36px, "Oswald-500", 53px);
  }
  .page-description {
    max-width: 280px;
    margin-bottom: 48px;
    @include font(12px, "Montserrat-400", 15px);
  }
  .ideja-gallery-top-border { top: 40px; }
  .ideja-gallery-bottom-border { top: -204px; }
  .ideja-gallery-text {
    @include top-width(-222px, 280x);
    @include font(18px, "Oswald-500", 27px);
  }
  .ideja-about { width: 88%; }
  .ideja-about-name {
    margin-bottom: 13px;
    @include font(18px, "Oswald-500", 27px);
  }
  .ideja-about-job {
    margin-bottom: 28px;
    margin-left: 0;
    @include font(14px, "Montserrat-400", 17px);
  }
  .ideja-about-description {
    font: italic 12px "Montserrat-400";
    line-height: 15px;
  }
  .ideja-about-arrow {
    margin-bottom: 162px;
    width: 76px;
  }
}
@media screen and (max-width: 500px) {
  .ideja-gallery-top-border { top: 36px; }
  .ideja-gallery-bottom-border { top: -200px; }
}
@media screen and (max-width: 400px) {
  .ideja-gallery-top-border,
  .ideja-gallery-bottom-border { height: 39px !important; }
  .ideja-gallery-img { margin-left: -124%; }
  .ideja-gallery-img img { width: 128% !important; }
  .ideja-gallery-top-border { top: 26px; }
  .ideja-gallery-bottom-border {
    top: 0;
    margin-top: -44.8%;
  }
  .ideja-about { margin-top: 0; }
  .ideja-gallery { margin: 0 auto 108px; }
  .ideja-gallery-bottom-border { margin-top: -34%; }
}
@media screen and (max-width: 376px) {
  .ideja-gallery-bottom-border { margin-top: -47%; }
}
@media screen and (max-width: 350px) {
  .ideja-gallery-bottom-border { margin-top: -55%; }
}
@media screen and (max-width: 320px) {
  .ideja-gallery-bottom-border { margin-top: -58.8%; }
}
/*piesaki-sapni main*/
.page-subtitle {
  margin-bottom: 93px;
  @include font(24px, "Montserrat-500", 29px);
}
.piesaki-sapni-container {
  margin: 0 auto 163px;
  display: flex;
  justify-content: space-around;
  width: 93%;
}
.container-item-title {
  margin-bottom: 20px;
  @include font(30px, "Oswald-500", 45px);
  color: #2f4858;
  text-transform: uppercase;
}
.container-item-descr {
  margin: 0 auto 64px;
  @include width-maxwidth(100%, 394px);
}
.container-item-content img { margin-bottom: 50px; }
.container-first-item { margin-bottom: 154px; }
.piesaki-sapni-gallery-first { max-width: 21.1%; }
.piesaki-sapni-gallery-second {
  padding-top: 11px;
  max-width: 21.5%;
}
.piesaki-sapni-gallery-third {
  padding-top: 10px;
  max-width: 22.1%;
}
.piesaki-sapni-gallery-four {
  padding-top: 10px;
  max-width: 36%;
}
.piesaki-sapni-form-title { margin: 0 auto 47px; }
.piesaki-sapni-contact-container { margin: 0 auto 185px; }

/*piesaki-sapni-media*/

@media screen and (max-width: 1000px) {
  .page-subtitle {
    margin: 0 auto 93px;
    @include width-maxwidth(100%, 76%);
  }
  .piesaki-sapni-container {
    margin: 0 auto 153px;
    flex-wrap: wrap;
  }
  .container-item-title { margin-bottom: 24px; }
  .container-first-item { margin-bottom: 0; }
  .container-item-descr {
    margin-bottom: 70px;
    max-width: 85%;
  }
  .piesaki-sapni-container-item-first { margin-bottom: 163px; }
  .piesaki-sapni-gallery-second { padding-top: 17px; }
  .piesaki-sapni-gallery-third,
  .piesaki-sapni-gallery-four { padding-top: 12px; }
  .piesaki-sapni-form-title { margin: 0 auto 56px; }
  .piesaki-sapni-contact-container { margin: 0 auto 197px; }
}

@media screen and (max-width: 700px) {
  .page-subtitle {
    margin: 0 auto 87px;
    @include font(14px, "Montserrat-500", 17px);
    max-width: 78%;
  }
  .container-item-descr {
    margin-bottom: 67px;
    max-width: 94%;
  }
  .container-item-content img {
    margin-bottom: 28px;
    @include size(160px, 190px);
  }
  .container-item-title {
    margin-bottom: 15px;
    @include font(18px, "Oswald-500", 27px);
  }
  .piesaki-sapni-container-item-first { margin-bottom: 90px; }
  .piesaki-img-people { margin-right: -40px; }
  .piesaki-sapni-container { margin: 0 auto 176px; }
  .piesaki-sapni-gallery-first {
    margin-top: -32px;
    max-width: 49%;
  }
  .piesaki-sapni-gallery-second {
    margin-top: -7px;
    padding-top: 0;
    max-width: 51%;
  }
  .piesaki-sapni-gallery-third { max-width: 38.5%; }
  .piesaki-sapni-gallery-four { max-width: 61.5%; }
  .piesaki-sapni-gallery-bottom-border { top: -15px; }
  .piesaki-sapni-gallery {
    margin: 0 auto 130px;
    overflow: hidden;
  }
  .piesaki-sapni-form-title { margin: 0 auto 27px; }
  .piesaki-sapni-contact-container { margin: 0 auto 172px; }
}

@media screen and (max-width: 450px) {
  .piesaki-sapni-container { margin: 0 auto 149px; }
  .piesaki-sapni-gallery-top-border { top: 2px; }
  .piesaki-sapni-gallery-bottom-border { top: -15px; }
  .piesaki-sapni-gallery-third,
  .piesaki-sapni-gallery-four { padding-top: 40px; }
  .piesaki-sapni-gallery-first { margin-top: -19px; }
  .piesaki-sapni-gallery { margin: 0 auto 130px; }
}
@media screen and (max-width: 320px) {
  .piesaki-sapni-gallery-first { margin-top: -12px; }
  .piesaki-sapni-gallery-bottom-border { top: 15px; }
}

/*uznemejiem*/
.uznemejiem-page-descr {
  margin: 0 auto 156px;
  max-width: 60%;
}
.uznemejiem-form-title { margin: 0 auto 63px; }
.uznemejiem-form-textarea { margin-bottom: 25px !important; }
.uznemejiem-contact-container { margin-bottom: 186px; }

@media screen and (max-width: 768px) {
  .uznemejiem-page-descr { max-width: 79%; }
  .uznemejiem-form-title { margin: 0 auto 90px; }
  .uznemejiem-form-textarea { margin-bottom: 12px !important; }
  .uznemejiem-contact-container { margin-bottom: 197px; }
}
@media screen and (max-width: 700px) {
  .uznemejiem-page-descr {
    margin-bottom: 120px;
    @include font(14px, "Montserrat-400", 17px);
    max-width: 83%;
  }
  .uznemejiem-form-title { margin: 0 auto 28px; }
  .uznemejiem-form-textarea { margin-bottom: 4px !important; }
  .uznemejiem-contact-container { margin-bottom: 170px; }
}

/*sapnu banka*/
.video-container-img-play { @include top-width(-445px, 124px); }
.sapnu-banka-page-title { margin-bottom: 65px; }
.video,
.sapnu-banka-fb-video { max-height: 769px; }
.video-container {
  margin: 0 auto 150px;
  height: 100%;
  height: 769px;
}
.sapnu-banku-container-item {
  display: flex;
  justify-content: space-between;
  @include size(100%, 150px);
  max-width: 712px;
}
.sapnu-banka-title-first { margin-bottom: 90px; }
.sbanku-container-item-first { margin: 0 20% 91px auto; }
.sbanku-container-item-second { margin: 0 auto 102px 12.2%; }
.sapnu-banka-page-descr {
  margin: 30px auto 0 61px;
  max-width: 500px;
  height: 100%;
  text-align: left;
}
.sb-container-second-img {
  margin-top: 11px;
  @include size(150px, 130px);
}
.sapnu-banka-page-descr-second { margin-left: -4px; }
.sb-container-third-img { @include size(150px, 100px); }
.sbanku-container-item-third { margin-bottom: 102px; }
.sapnu-banka-title-second { margin-bottom: 50px; }
.sapnu-banka-title-third { margin-bottom: 60px; }
.sb-page-subtitle { margin-bottom: 152px; }
.sb-container-with-backgr {
  position: relative;
  margin: 0 auto 150px;
}
.container-with-backgr-item {
  position: relative;
  top: 75px;
}
.container-with-backgr-item img { margin-bottom: 37px; }
.container-with-backgr-text {
  margin: 0 auto;
  @include width-maxwidth(100%, 64%);
  @include font(24px, "Montserrat-500", 29px);
  color: #fff;
}
.sapnu-banka-page-subt { @include width-maxwidth(100%, 287px); }
.sb-container-choise-second { margin-top: 30px; }
.sb-container {
  margin-bottom: 67px;
  width: 77%;
}
.sb-container-item-content img { margin-bottom: 27px; }
.container-with-backgr-text-second { max-width: 70%; }
.sb-more-information { margin-bottom: 198px; }

@media screen and (max-width: 1360px) {
  .video-container { height: auto; }
}
@media screen and (max-width: 950px) {
  .sapnu-banka-page-title { margin-bottom: 51px; }
  .sapnu-banka-page-descr {
    margin: 8px auto 0 74px;
    max-width: 353px;
  }
  .sbanku-container-item-first { margin: 0 auto 91px 14.5%; }
  .sb-container-second-img { margin: 0 auto auto 9%; }
  .sapnu-banka-page-descr-second {
    margin-right: 1px;
    margin-left: -16px;
  }
  .sbanku-container-item-second {
    float: right;
    margin-bottom: 81px;
  }
  .sb-container-third-img { margin: -9px -5px 0 5px; }
  .sbanku-container-item-third { margin-bottom: 91px; }
  .sapnu-banka-title-second { margin-bottom: 32px; }
  .sb-page-subtitle,
  .container-with-backgr-text,
  .container-with-backgr-text-second { max-width: 78%; }
  .sb-container-item-content img { height: 100px; }
  .sapnu-banka-page-subt {
    @include font(18px, "Montserrat-500", 22px);
    max-width: 255px;
  }
  .sb-container {
    margin-bottom: 67px;
    width: 92%;
  }
  .sb-container-choise-second { margin-top: 0; }
  .sb-container-item-content img { margin-bottom: 20px; }
  .piesaki-sapni-container-item-first { margin-bottom: 0; }
  .sb-more-information { margin-bottom: 210px; }
}
@media screen and (max-width: 768px) {
  .video-container { max-height: 432px; }
  .sbanku-container-item-second { float: none; }
  .video-container-img-play { @include top-width(-280px, 110px); }
}
@media screen and (max-width: 700px) {
  .video-container { max-height: 380px; }
  .sapnu-banka-page-title { margin-bottom: 27px; }
  .sapnu-banka-title-first,
  .sapnu-banka-title-second,
  .sapnu-banka-title-third {
    margin-bottom: 60px;
    @include font(24px, "Oswald-500", 36px);
  }
  .sapnu-banku-container-item {
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .sbanku-container-item-first { margin: 0 0 65px; }
  .sapnu-banku-container-item img {
    margin: 0 auto 27px;
    @include size(118px, auto);
  }
  .sapnu-banka-page-descr {
    margin: 0 auto;
    max-width: 70%;
    text-align: center !important;
  }
  .sbanku-container-item-second {
    margin: 0 0 65px;
    flex-flow: column-reverse;
    align-items: center;
  }
  .sbanku-container-item-third { margin-bottom: 120px; }
  .sb-page-subtitle {
    margin-bottom: 103px;
    @include font(18px, "Montserrat-500", 22px);
  }
  .sapnu-banka-title-second { margin-bottom: 25px; }
  .container-with-backgr-text {
    max-width: 88%;
    @include font(18px, "Montserrat-500", 22px);
  }
  .sb-container-with-backgr { margin: 0 auto 79px; }
  .sb-container-item-content img {
    margin: 0 auto 22px;
    height: auto;
  }
  .sb-container-item-content .piesaki-img-microphone { width: 100px; }
  .sb-container-item-content .piesaki-img-people { width: 130px; }
  .sapnu-banka-title-third { margin-bottom: 67px; }
  .sapnu-banka-page-subt {
    margin-bottom: 0;
    max-width: 89%;
  }
  .piesaki-sapni-container-item-first { margin-bottom: 66px; }
  .sb-container { margin-bottom: 100px; }
  .sb-information-title { margin-bottom: 64px; }
  .sb-more-information { margin-bottom: 185px; }
}
@media screen and (max-width: 650px) {
  .video-container { max-height: 300px; }
  .video-container-img-play { @include top-width(-240px, 100px); }
}
@media screen and (max-width: 550px) {
  .video-container-img-play { @include top-width(-200px, 85px); }
}
@media screen and (max-width: 450px) {
  .video-container { max-height: 240px; }
  .video-container-img-play { @include top-width(-160px, 75px); }
}
@media screen and (max-width: 376px) {
  .video-container { max-height: 200px; }
  .video-container-img-play { @include top-width(-140px, 65px); }
}
@media screen and (max-width: 320px) {
  .video-container-img-play { @include top-width(-125px, 70px); }
  .container-with-backgr-item img {
    margin-bottom: 25px;
    width: 83%;
  }
  .container-with-backgr-item { top: 98px; }
  .video-container {
    margin-bottom: 120px;
    max-height: 180px;
  }
  .sapnu-banka-page-descr { max-width: 280px; }
}

/*sapnus-atbalsta*/
.js-hidden-map { display: none; }
.sapnu-atb-page-title { margin-bottom: 63px; }
.select-container {
  margin: 0 auto -115px;
  display: flex;
  justify-content: space-between;
  width: 605px;
}
.select-container-iner { min-height: 78px; }
.select-container-iner-name {
  margin-bottom: 15px;
  @include font(18px, "Montserrat-500", 22px);
  text-align: left;
  letter-spacing: -0.015em;
  color: #FFA800;
}
.select {
  padding: 0 0 0 11px;
  @include size(288px, 43px);
  border-radius: 6px;
  border: none;
  outline: none;
  @include font(18px, "Montserrat-400", 22px);
  letter-spacing: -0.015em;
  color: #2F4858;
  background-color: #C4C4C466;
}
select.size { width: 288px; }
.select:focus,
.select:hover { border: 1px solid #000; }
 .select option {
  width: 288px;
  @include font(18px, "Montserrat-400", 22px);
}
.map-image {
  background-repeat: no-repeat;
  background-position: center;
}
.select-container-iner { width: 288px; }
.sa-page-descr { margin: 0 auto 94px; }
.option { list-style: none; }
.map iframe { margin-top: -50px; }
.map { overflow: hidden; }
.iner-for-riga-logo { @include size(120px, 120px); }
.iner-for-riga-logo-second { @include size(120px, 100px); }
.iner-for-riga-name { @include font(24px, "Montserrat-500", 29px); }
.iner-for-riga-contacts { @include font(18px, "Montserrat-400", 22px); }
.container-for-riga { margin: 220px auto 60px; }
.container-iner-for-riga {
  display: flex;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.container-iner-for-riga-contacts { text-align: right; }
.container-iner-for-riga-p { margin-top: 2%; }
.container-iner-for-riga-name { margin-right: 16%; }
.container-iner-for-riga-n { margin-right: 15%; }
.container-iner-for-riga-first { margin-bottom: 32px; }
.hide { display: none; }
.info {
  position: relative;
  top: 464px;
  left: 39%;
  display: flex;
  justify-content: space-around;
  @include size(485px, 175px);
  align-items: center;
  color: #2f4858;
}
.info-img img { @include size(120px, 60px); }
.info-text { text-align: right; }
.info-text-title {
  margin-bottom: 30px;
  @include font(24px, "Oswald-500", 36px);
}
.info-text-content { @include font(18px, "Montserrat-400", 22px); }

@media screen and (max-width: 800px) {
  .info {
    top: 681px;
    left: 27%;
  }
  .map-image {
    width: 132% !important;
    background-size: cover;
    margin-top: -30px;
  }
  .sa-main { margin-top: 168px; }
  .sapnu-atb-page-title { margin-bottom: 46px; }
  .select-container {
    width: 79%;
    margin-bottom: -107px;
  }
  .map-image { min-height: 870px !important; }
  .container-for-riga { margin: 168px auto 70px; }
  .container-iner-for-riga { width: 79%; }
  .container-iner-for-riga-name { margin-right: 11%; }
  .hide { display: block; }
  .p-active { display: none; }
  .iner-for-riga-logo { @include size(100px, 100px); }
  .iner-for-riga-logo-second { @include size(100px, 80px); }
  .container-iner-for-riga-n { margin: 1% 29% 0 0; }
}
@media screen and (max-width: 720px) {
  .select-container-iner-name { @include font(14px, "Montserrat-400", 17px); }
  .select-container {
    justify-content: center;
    flex-wrap: wrap;
    width: 88%;
    margin-bottom: -125px;
  }
  .select { width: 280px; }
  .select-container-iner-first { margin-bottom: 36px; }
  .select option { @include font(14px, "Montserrat-400", 17px); }
}
@media screen and (max-width: 650px) {
  .info {
    top: 550px;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include size(280px, 200px);
    border-radius: 10px;
  }
  .info div { margin-right: 14px; }
  .info-img img { @include size(112px, 55px); }

  .info-text { text-align: right; }
  .info-text-title {
    margin-bottom: 30px;
    @include font(18px, "Oswald-500", 27px);
  }
  .info-text-content { @include font(14px, "Montserrat-400", 17px); }
}
@media screen and (max-width: 320px) {
  .sa-main { margin-top: 104px; }
  .uznemejiem-page-descr { max-width: 87%; }
  .sapnu-atb-page-title { margin-bottom: 28px; }
  .sa-page-descr { margin-bottom: 83px; }
  .map-image {
    margin-top: -25px;
    width: 158% !important;
    min-height: 645px !important;
  }
  .container-iner-for-riga {
    margin: 0;
    display: none;
  }
  .info {
    top: 550px;
    left: 6%;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include size(280px, 200px);
    border-radius: 10px;
  }
}

//iedvesmas stasti
.stasti-subtitle { margin-bottom: 150px; }
.chose-video-container {
  margin: 0 auto 135px;
  display: flex;
  @include size(76.5%, auto);
  flex-wrap: wrap;
}
.chose-video-container-iner {
  margin-bottom: 14px;
  margin-right: 1.35%;
  @include size(160px, 160px);
  cursor: pointer;
}
.video-container-iner-top-photo {
  position: relative;
  top: -164px;
}
.video-container-iner-text {
  position: relative;
  top: -208px;
  left: 58px;
  @include font(36px, "Oswald-700", 54px);
  color: #fff;
}
.video-container-iner-text-continue {
  position: relative;
  top: -104px;
  @include font(18px, "Oswald-700", 22px);
  color: #fff;
}
.video-container-iner-text-next {
  top: -94px;
  left: 48px;
  position: relative;
  @include font(36px, "Oswald-700", 54px);
  color: #fff;
}
.video-container-iner-text-add { top: -50px; }
.stasti-description {
  margin: 0 auto 60px;
  max-width: 606px;
  @include font(18px, "Montserrat-500", 22px);
  text-align: center;
}
.stasti-gallery-container-iner { @include size(289px, 365px); }
.stasti-gallery-container-iner img { @include size(289px, 365px); }
.stasti-gallery-container {
  margin: 0 auto 188px;
  display: flex;
  justify-content: space-around;
  width: 81.5%;
}
.stasti-gallery-img { position: absolute; }
.stasti-gallery-content { position: relative; }
.stasti-gallery-content-title {
  margin-left: -12px;
  @include font(24px, "Oswald-500", 36px);
}
.stasti-gallery-content-description { @include font(18px, "Montserrat-500", 22px); }
.stasti-gallery-content-text {
  position: relative;
  top: -78px;
  color: #fff;
}
.stasti-gallery-content-second-text { top: -100px; }
.stasti-see-all-video {
  display: none;
  margin: -85px auto 158px;
}

.js-first-hidden-block { display: none; }
.js-second-hidden-block { display: none; }
.js-third-hidden-block { display: none; }
.js-fourth-hidden-block { display: none; }

@media screen and (max-width: 1365px) {
  .chose-video-container { width: 1045px; }
}
@media screen and (max-width: 1200px) {
  .chose-video-container { width: 900px; }
}
@media screen and (max-width: 1100px) {
  .stasti-gallery-container { width: 91.5%; }
}
@media screen and (max-width: 1000px) {
  .chose-video-container { width: 72.5%; }
}
@media screen and (max-width: 900px) {
  .stasti-see-all-video { display: block; }
  .stasti-main { margin-top: 168px; }
  .stasti-subtitle { margin-bottom: 88px; }
  .chose-video-container-iner img { @include size(142px, 142px); }
  .chose-video-container-iner {
    margin-right: 1.9%;
    @include size(142px, 142px);
  }
  .video-container-iner-top-photo { top: -146px; }
  .video-container-iner-text {
    top: -191px;
    left: 50px;
  }
  .stasti-gallery-container {
    margin-bottom: 163px;
    flex-wrap: wrap;
    width: 81.5%;
  }
  .stasti-gallery-container-iner,
  .stasti-gallery-container-iner img { @include size(352px, 443px); }
  .stasti-gallery-container-iner { margin-bottom: 26px; }
  .stasti-description { margin-bottom: 90px; }
  .stasti-gallery-content-text,
  .stasti-gallery-content-second-text { top: -84px; }
  .stasti-gallery-content-description { width: 100% !important; }
  .stasti-gallery-content-third-text { top: -114px; }
}
@media screen and (max-width: 850px) {
  .chose-video-container { width: 80.1%; }
}
@media screen and (max-width: 750px) {
  .chose-video-container {
    width: 85%;
    justify-content: space-around;
  }
  .chose-video-container-iner { margin-right: 0; }
}
@media screen and (max-width: 320px) {
  .chose-video-container { justify-content: space-between; }
}
@media screen and (max-width: 320px) {
  .stasti-page-title {
    margin-bottom: 57px;
    width: 215px;
  }
  .stasti-subtitle {
    margin-bottom: 82px;
    @include font(18px, "Montserrat-500", 22px);
    color: #2f4858;
  }
  .stasti-main { margin-top: 103px; }
  .video-container-iner-top-photo { top: -138px; }
  .chose-video-container {width: 275px; }
  .chose-video-container-iner { margin-bottom: 13px; }
  .video-container-iner-text-continue {
    top: -96px;
    margin-bottom: -40px;
    @include font(14px, "Oswald-700", 21px);
  }
  .chose-video-container-iner,
  .chose-video-container-iner img { @include size(134px, 134px); }
  .video-container-iner-text {
    top: -189px;
    left: 95px;
    width: 40px;
  }
  .video-container-iner-text-next {
    top: -54px;
    left: 88px;
    float: left;
  }
  .stasti-see-all-video { margin: -90px auto 130px; }
  .stasti-container-item-title {
    margin-bottom: 29px;
    @include font(24px, "Oswald-500", 36px);
  }
  .stasti-description {
    margin-bottom: 80px;
    max-width: 275px;
    @include font(14px, "Montserrat-500", 17px);
  }
  .stasti-gallery-container-iner,
  .stasti-gallery-container-iner img { @include size(280px, 354px); }
  .stasti-gallery-content-description { @include font(14px, "Montserrat-500", 17px); }
  .stasti-gallery-content-title { @include font(18px, "Oswald-500", 27px); }
  .stasti-gallery-content-text { top: -66px; }
  .stasti-gallery-content-third-text { top: -85px; }
  .stasti-gallery-container { margin-bottom: 143px; }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  @include size(100%, 100%);
  overflow: auto;
  z-index: 1;
  background-color: rgba(47, 72, 88, 0.9);
}
.modal-content {
  margin: 4% auto;
  padding: 20px;
  width: 77%;
  text-align: center;
  background-color: #fff;
  background: transparent;
}
.close-modal {
  color: #fff;
  float: right;
  font-size: 50px;
  font-weight: bold;
}
.modal-video,
.modal-video iframe {
  margin: 34px auto;
  @include size(93%, 70vh);
  border: none;
}
@media screen and (max-width: 850px) {
  .modal-content {
    margin: 34% auto;
    width: 91.5%;
  }
  .close-modal { margin-top: 5px; }
}
@media screen and (max-width: 450px) {
  .modal-content {
    padding: 0;
    margin: 42% auto;
    width: 91.5%;
  }
  .close-modal {
    margin-top: 5px;
    font-size: 40px;
  }
  .modal-video,
  .modal-video iframe {
    margin: 0 auto;
    width: 97%;
  }
}

footer {
  margin-top: -2.6%;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container {
  margin: auto;
  padding-top: 67px;
  display: flex;
  justify-content: space-between;
  @include width-maxwidth(100%, 91%);
  color: #fff;
}
.footer-container-ideja { padding-top: 71px; }
.footer-logo {
  margin-right: 2%;
  @include width-maxwidth(100%, 182px);
}
.footer-nav-bar {
  display: flex;
  flex-flow: column;
}
.footer-nav-bar a{
  margin-bottom: 22px;
  @include font(18px, "Montserrat-500", 22px);
  color: #fff;
}
.footer-box-payment p { margin-bottom: 13px; }
.footer-box-payment { font: normal 18px "Montserrat-500"; }
.footer-box-payment-title,
.box-contacts-title-logo { @include font(24px, "Montserrat-500", 29px); }
.footer-box-payment-text { line-height: 22px; }
.footer-box-contacts {
  display: flex;
  flex-flow: column;
  text-align: right;
}
.footer-box-contacts a,
.footer-box-contacts p {
  margin-bottom: 13px;
  @include font(18px, "Montserrat-500", 22px);
  color: #fff;
}
.footer-box-prop { display: none; }
.footer-box-icons { margin-top: 17%; }
.footer-private a,
.footer-private p {
  @include font(14px, "Montserrat-500", 17px);
  color: #fff;
}
.footer-private {
  margin: 1% auto 0;
  display: flex;
  justify-content: space-between;
  @include width-maxwidth(100%, 91%);
  align-items: flex-end;
}
.back-to-top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  display: none;
  @include size(60px, 60px);
  @include font(30px, "Montserrat-400", 50px);
  text-align: center;
  color: #2f4858;
  background: #f5f5f5;
  border-radius: 30px;
  cursor: pointer;
  z-index: 9999;
}
.back-to-top:hover { background: #e9ebec; }
.footer-private-hide { display: none; }
.box-contacts-title-logo { display: none; }
.back-to-top-show { display: block; }

@media screen and (max-width: 1300px) {
  footer { margin-top: -4%; }
}
@media screen and (max-width: 1050px) {
  footer {
    margin-top: -8%;
    background-repeat: round !important;
  }
  .footer-container {
    padding-top: 86px;
    max-width: 79%;
  }
  .footer-logo { max-width: 161px; }
  .box-contacts-title { display: none; }
  .footer-box-contacts { padding-top: 42px; }
  .footer-box-contacts a,
  .footer-box-contacts p {
    margin-bottom: 10px !important;
  }
  .footer-box-prop { font: normal 18px "Montserrat-600" !important; }
  .box-contacts-title-logo {
    margin-top: 26px;
    display: block;
  }
  .footer-box-icons { margin-top: 9%; }
  .footer-box-icons img { height: 64%; }
  .footer-private p,
  .footer-private a { @include font(16px, "Montserrat-500", 20px); }
  .footer-private {
    margin: 2.6% auto 0;
    max-width: 79%;
  }
  .footer-nav-bar { display: none; }
  .footer-box-payment { display: none; }
  .footer-box-prop { display: block; }
  .footer-private-hide { display: block; }
  .footer-private-active { display: none; }
}
@media screen and (max-width: 750px) {
  footer { margin-top: -12%; }
  .sponsor-backgr {
    min-height: 400px;
    background-size: auto;
    background-repeat: round;
  }
}
@media screen and (max-width: 700px) {
  footer { margin-top: -10%; }
  .footer-container {
    padding-top: 76px;
    display: flow-root;
    max-width: 87%;
  }
  .footer-logo img { max-width: 99px; }
  .footer-box-contacts {
    padding-top: 33px;
    text-align: left;
  }
  .footer-box-contacts a,
  .footer-box-contacts p {
    margin-bottom: 11px !important;
    @include font(12px, "Montserrat-500", 15px);
  }
  .box-contacts-title-logo {
    margin-top: 21px;
    @include font(18px, "Montserrat-500", 22px);
  }
  .footer-box-prop {
    font: normal 14px "Montserrat-600" !important;
    line-height: 17px !important;
  }
  .facebook-icon { margin-right: 11% !important; }
  .footer-box-icons {
    margin-top: 10%;
    height: 38px;
  }
  .footer-private {
    margin: 6.6% 0 0 20px;
    display: inline-block;
  }
  .footer-private p,
  .footer-private a {
    margin-bottom: 5px;
    width: 100%;
    min-width: 300px;
    @include font(11px, "Montserrat-500", 13px);
  }
}
@media screen and (max-width: 350px) {
    footer { margin-top: -14%; }
}
@media screen and (max-width: 320px) {
  footer { margin-top: -26%; }
}
